node_modules/
.firebase/
.npm-cache/
firebase-debug.log
*.gs
Index.html
Scripts.html
Styles.html
appsscript.json
Enable-Utf8Console.ps1
tmp_*
.tmp*
_check_*
_scripts_check.js
!index.html
!Index.html
!docs/index.html
